body{
	font-family: 'Titillium Web', sans-serif;
	color: #333333;
}

a{
	text-decoration: none;
	line-height: 80px;
	vertical-align: middle;
	font-size: 1em;
	color: #C76371;
}

.layout{
	display: grid;
	grid-gap: 20px;
	max-width: 1024px;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: min-content;
	margin: auto;
}

.logo img{
	width: 100%;
}

.logo{
	align-self: center;
}

.logoName{
	grid-column: 2 / span 2;
	grid-row: 1;
	font-size: 1.3em;
}

.logoName a{	
	color: #333333;
}

.pages{
	grid-column: 7 / -1;
	text-align: right;
}

.pages a{
	padding-right: 20px;
}

.pages:nth-child(5){
	padding-right: 0px;
}

.heading h1{
	color: #FFB32B;
	line-height: 1em;
}

.heading p{
	font-size: 1.1em;
}

.section1{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.antariksh{}

.nid{}

.fab{}

.xcube{}

.univariety{}

.adp{}

.btech{}

.tileImage{
	width: 100%;
}

.alignCenter{
	text-align: center;
}

.alignCenter h2, .alignCenter p{
	padding-left: 20px;
	padding-right: 20px;
}

.section2{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.software{
	width: 100%;
	align-self: center;
}

.illustrator{
}

.photoshop{
	
}

.xd{
	
}

.indesign{
	
}

.ae{
	
}

.lightroom{
	
}

.html{
	
}

.css{
	
}

.javascript{
	
}

.sketch{
	
}

.trello{
	
}

.slack{
	
}

.bootstrap{
	
}

.arduino{
	
}

.section3{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.section4{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.section5{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.research{}

.insights{}

.prototype{}

.validate{}

.unit6{
	grid-column: 1 / span 6;	
}

.unit1{
	grid-column: 1 / span 3;	
}

.unit2{
	grid-column: 4 / span 3;	
}

.unit3{
	grid-column: 7 / span 3;	
}

.unit4{
	grid-column: 10 / span 3;
}

.interaction{
	color: #C76371;
	border-top: 3px solid #C76371;
	font-size : 1.3em;
	font-weight: bold;
	text-align: center;
	grid-column: 1 / span 6;
	line-height: 1em;
}

.interface{
	color: #FFB32B;
	border-top: 3px solid #FFB32B;
	font-size : 1.3em;
	font-weight: bold;
	text-align: center;
	grid-column: 7 / span 6;
	line-height: 1em;
}

.footer{
	background-color: white;
	height: auto;
	grid-column: 1 / -1;
}

.copyright{
	grid-column : 1 / span 4;
	text-align: center;
	line-height: 50px;
	align-self: center;
}

.email{
	grid-column : 5 / span 4;
	text-align: center;
	align-self: center;
	line-height: 50px;
}

.links{
	grid-column : 9 / span 4;
	text-align: center;
	align-self: center;
}

.links a{
	padding-right: 20px;
	color: #aaaaaa;
	line-height: 50px;
}

.links a:nth-child(1):hover{
	color: #007bb5;
}

.links a:nth-child(2):hover{
	color: #1769ff;
}

.links a:nth-child(3):hover{
	color: #8a3ab9;
}

.links a:nth-child(4):hover{
	color: #000000;
}

.links a:nth-child(5):hover{
	color: #ea4c89;
}

.links a:nth-child(6):hover{
	color: #55acee;
	padding-right: 0px;
}

.fullname{
	grid-column: 1 / span 4;
}

.message{
	grid-column: 1 / span 4;
}